:global body {
  margin: 0;
  padding: 0;
}

.page {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textComposed {
  color: red;
}

.text {
  composes: textComposed;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 4em;
}
